<mz-navbar>
    <div class="container header">
        <a href="#" class="brand-logo header__logo">Мой ремонт</a>
        <mz-navbar-item-container [align]="'right'">
            <mz-navbar-item><a routerLink="form-1">Форма 1</a></mz-navbar-item>
            <mz-navbar-item><a>Регистрация</a></mz-navbar-item>
            <mz-navbar-item><a>Войти<i mz-icon [align]="'right'" [icon]="'input'" [size]="'medium'">
            </i></a></mz-navbar-item>
        </mz-navbar-item-container>
    </div>
</mz-navbar>




<div class="container main-content">
    <router-outlet></router-outlet>
</div>

